:root {
  --primary: #486a89;
  --secondary: #ebdfd3;
  --accent: #e4c98a;
  --bs-btn-close-color: #486a89;
}

body {
  background-image: url("../images/baby_shower_background.jpg");
  background-position: center;
  background-size: cover;

  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--primary);
}

.title {
  color: var(--primary);
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.card-main {
  margin-bottom: 50px;
  max-width: 1000px;
  height: 70vh;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  color: var(--primary);
  background-color: var(--secondary);
}

.card-body {
  border: solid 1px;
  border-color: var(--primary);
  border-radius: 5px;
}

.overflow-card {
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn.btn-icon {
  padding: 8px !important;
}

@media only screen and (max-width: 600px) {
  .image-test {
    margin-left: -30%;
  }
}

@media only screen and (max-width: 500px) {
  .image-test {
    margin-left: -50%;
  }
}

@media only screen and (max-width: 450px) {
  .image-test {
    margin-left: -80%;
  }
}

@media only screen and (max-width: 400px) {
  .image-test {
    margin-left: -100%;
  }
}

@media only screen and (max-width: 385px) {
  .image-test {
    margin-left: -150%;
  }
}

@media only screen and (max-width: 350px) {
  .image-test {
    margin-left: -150%;
  }
}

.btn.btn-primary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.btn.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--secondary);
}

.modal-style {
  background-color: var(--secondary);
  color: var(--primary);
  border: solid 2px;
  border-color: var(--primary);
}

.modal-content-border {
  border: solid 1px;
  border-color: var(--primary);
  border-radius: 5px;
}

.input-styled {
  color: var(--primary);
  background-color: transparent;
  border: solid 1px;
  border-color: var(--primary);
}

.input-styled:focus {
  color: var(--primary);
  background-color: transparent;
  border: solid 2px;
  border-color: var(--primary);
  box-shadow: none;
}

label.label-styled {
  color: var(--primary);
}

.btn.btn-radio-primary {
  color: var(--primary);
  background-color: transparent;
}

.btn.btn-radio-primary:hover {
  color: var(--primary);
}

.btn-check:checked + .btn {
  color: var(--secondary);
  background-color: var(--primary);
}

.toast-success {
  background-color: var(--primary);
  color: var(--secondary);
  border: solid 1px;
  border-color: var(--primary);
}

.toast-error {
  background-color: lightcoral;
  color: white;
}

#rsvpModal .rsvp-row .invalid-feedback {
  width: 100%;
  text-align: center;
  display: none;
  margin-top: 0.5rem;
}

#rsvpForm.was-validated .rsvp-row:has(input[name="rsvp-selection"]:invalid) .invalid-feedback {
  display: block;
}
